<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}" >
<body>
<div layout:fragment="mainContainer">
    <div class="mb-5 mt-5"><br></div>
    <div class="col-3 mx-auto mt-5 mb-5">
        <form class="form-signin" method="post" th:action="@{'/tosignup'}">
            <h2 class="form-signin-heading">Please sign up</h2>
            <p>
                <label class="sr-only">User Email</label>
                <input type="email" name="user_email" class="form-control" placeholder="User Email" required autofocus>
            </p>
            <p>
                <label class="sr-only">Password</label>
                <input type="password"  name="user_password" class="form-control" placeholder="Password" required autofocus>
            </p>
            <p>
                <label class="sr-only">Password</label>
                <input type="password" name="re_user_password" class="form-control" placeholder="Retype Password" required>
            </p>
            <p>
                <label class="sr-only">Full name</label>
                <input type="text"  name="user_fullName" class="form-control" placeholder="Full name" required>
            </p>
            <input name="_csrf" type="hidden" value="1ac4c8eb-fadb-4a72-91eb-ea5aed337fe9" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <a th:href="@{'/signin'}" class="nav-link link-dark px-2 mt-2" style="text-align: center" type="submit">Login</a>
        </form>
    </div>
</div>
</body>
</html>